name: Elixir Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
  build:
    name: Elixir Unit Tests
    runs-on: ubuntu-20.04
    env:
      MIX_ENV: test
    strategy:
      matrix:
        include:
          - elixir-version: "1.13.4"
            otp-version: "24.3"
          - elixir-version: "1.13.4"
            otp-version: "25.0.2"
          - elixir-version: "1.14.3"
            otp-version: "25.2"
          - elixir-version: "1.15.5"
            otp-version: "26"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Elixir Project
        uses: ./.github/actions/elixir-setup
        with:
          elixir-version: ${{ matrix.elixir-version }}
          otp-version: ${{ matrix.otp-version }}
          build-app: false

      - name: Compile with warnings as errors
        run: mix compile --warnings-as-errors

      - name: Run tests with warnings as errors
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mix test --warnings-as-errors
