name: Elixir Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
  build:
    name: Elixir Unit Tests
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    strategy:
      matrix:
        include:
          - elixir-version: "1.15.7"
            otp-version: "26.2"
          - elixir-version: "1.16.3"
            otp-version: "26.2"
          - elixir-version: "1.17.3"
            otp-version: "27.1"
          - elixir-version: "1.18.4"
            otp-version: "27.2"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Elixir Project
        uses: ./.github/actions/elixir-setup
        with:
          elixir-version: ${{ matrix.elixir-version }}
          otp-version: ${{ matrix.otp-version }}
          build-app: false

      - name: Compile with warnings as errors
        run: mix compile --warnings-as-errors

      - name: Run tests with warnings as errors
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mix test --warnings-as-errors
